.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  backdrop-filter: blur(5px);
}

.navbar button {
  background: none;
  border: none;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.navbarIcon {
  font-size: 4rem !important;
  color: var(--red) !important;
  font-weight: 500 !important;
  transition: 0.2s ease;
  position: fixed;
  cursor: pointer;
}

.navbarIcon:hover {
  color: var(--blue) !important;
}
