.container {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px 28px 12px 28px;
  border: 4px solid var(--red);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 2;
  background-color: var(--background);
}

.container a {
  color: inherit;
}

.icon {
  font-size: 4rem !important;
  font-weight: 500;
  color: var(--red);
}
