.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (min-width: 900px) {
  .menuList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(10rem, auto);
    gap: 5vw;
  }
}
