.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.locationContent {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

.img {
  border-radius: 72px 133px 72px 133px;
  border: 4px solid var(--red);
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}

.subheader {
  text-align: center;
  font-size: 4rem;
  color: var(--beige);
}

.addres {
  font-size: 2.5rem;
  color: var(--beige);
  text-align: center;
  transition: 0.2s ease;
}

.addres:hover {
  color: var(--blue);
}

@media screen and (min-width: 900px) {
  .locationContent {
    flex-direction: row;
  }
  .img {
    max-width: 45rem;
    width: auto;
  }

  .subheader {
    text-align: start;
    max-width: 45rem;
  }

  .addres {
    text-align: start;
    max-width: 45rem;
  }
}
