.hero {
  height: 100vh;
  background: url('../../../public/img/hero.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header h1 {
  display: flex;
  flex-direction: column;
}

.headerSpan {
  font-family: var(--heading);
  color: var(--beige);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

.headerSpan:nth-child(2) {
  font-size: 4.5rem;
  font-weight: 700;
}
