.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.img {
  width: 90%;
  border: 4px solid var(--red);
  border-radius: 124px 86px 124px 50px;
}

.desc {
  width: 90%;
  font-size: 2rem;
  color: var(--beige);
  font-weight: 400;
}
