.blink {
  animation: blink 1s ease infinite;
  margin-left: -8px;
  color: var(--beige);
  font-weight: 300;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
